# Core functionality - changes here should be rare!
/src/app.py                   @salguento
/src/backend/database.py      @salguento
/src/backend/routers/auth.py  @salguento

# The frontend will need refactored soon to be more object oriented.
/src/static/   @salguento
